div {
  width: 100px;
  height: 100px;
  color: yellow;
  background-color: red;
  padding: 20px;
}

h1:nth-child(2) {
  border-width: 10px 20px 30px 40px;
  border-style: dashed solid double dotted;
  border-color: red blue violet green;
}
.class1 {
  border: solid;
  border-radius: 20px 30px 40px 50px;
  margin: 15px;
}
